.LiveBottomContainer {
    display: inline-block;
    vertical-align: top;
    width: 100vw;
    height: 20vh;
}

.InfoBar {
    width: 70vw;
    height: 20vh;
    background-color:rgb(91, 91, 216);
    display: inline-block;
}

.InfoTable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.MeasureBar {
    width: 30vw;
    height: 20vh;
    background-color:rgb(1, 1, 107);
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.MeasureText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 122px;
    padding-right: 0;
    padding-bottom: 0;
    color: white;
}

.InfoField {
    padding: 30px;
    font-weight: bold;
}

.SmallBarrier {
    height: 2vh
}

.InvisibleText {
    color:rgb(91, 91, 216);
}
