.ChordText {
    text-align: center;
    vertical-align: center;
    padding-top:15vh;
    padding-right:0;
    font-size: 132px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ChordHeader {
    text-align: center;
    vertical-align: top;
    font-size: 66px;
    padding-right: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ChordContainer {
    width: 70vw;
    height: 69vh;
    background-color:rgb(231, 234, 245);
    display: inline-block;
}

.LiveTopContainer {
    width: 100vw;
    height: 69vh;
    vertical-align: top;
}

.NextChordContainer {
    width: 30vw;
    height: 69vh;
    background-color:rgb(183, 186, 197);
    display: inline-block;
}