.HomeContainer {
    width: 100vw;
    height: 80vh;
    align-items: center;
    display: flex;
}

.ContentTable {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;

}

.ContentBox {
    margin-top: 10vh;
    padding: 3vh;
    width: 25vw;
    height: 60vh;
    background-color: lightgray;
    border-radius: 3vh;
    box-shadow: 0.3vw 1vh rgb(68, 68, 68);
}

.Divider {
    width: 15vh;
}

.ContentText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh;
    color: black;
}

.ContentText:hover {
    text-decoration: none;
    color: rgb(82, 139, 204);
}

.HomeImage {
    width: 22vw;
    height: 48vh;
    border-radius: 2vh;
}